<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'store:home' %}">AKADDO Store </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'store:home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="#!">{{ category.name| title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </button>
               
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'account:logout' %}">Log out</a></li>
                        <li><a class="dropdown-item" href="#!">Profile</a></li>

                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'account:register' %}">Register</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:login' %}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
            <br>
            <div class="ms-2">
                <a href="{% url 'basket:basket_summary' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    {% with total_qty=basket|length %}
                    <span id="basket-qty" class="badge bg-dark text-white ms-1 rounded-pill">
                        {% if total_qty > 0 %}
                            {{ total_qty }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                    {% endwith %}
                </a>
            </div>
            
            
        </div>
    </div>
</nav>